Colmart/Sync/Schemas/GetWebSalesOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iSync.EAI.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iSync.EAI.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="WebSalesOrderQueryCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SimpleResults" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebSalesOrderQueryCriteria" nillable="true" type="tns:WebSalesOrderQueryCriteria" />

</xs:schema>