Colmart/Sync/Schemas/PersistJobCustomFields.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iSync.EAI.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iSync.EAI.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJobCustomField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobCustomField" nillable="true" type="tns:JobCustomField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobCustomField" nillable="true" type="tns:ArrayOfJobCustomField" />
  <xs:complexType name="JobCustomField">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomFieldTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="JobCustomFieldID" type="xs:int" />
      <xs:element minOccurs="0" name="JobNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ordinal" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobCustomField" nillable="true" type="tns:JobCustomField" />
</xs:schema>