Colmart/Sync/Schemas/PersistWebSalesOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iSync.EAI.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iSync.EAI.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WebSalesOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryDetail" nillable="true" type="tns:AddressDetail" />
      <xs:element minOccurs="0" name="DeliveryMethodID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryMethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntitlementID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsGift" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsXStock" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineItems" nillable="true" type="tns:ArrayOfWebSalesOrderDetail" />
      <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMethodID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrintInvoice" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="RequiredDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalesOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="SpecialInstructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TrackNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebSale" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebSalesOrder" nillable="true" type="tns:WebSalesOrder" />
  <xs:complexType name="ArrayOfWebSalesOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebSalesOrderDetail" nillable="true" type="tns:WebSalesOrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebSalesOrderDetail" nillable="true" type="tns:ArrayOfWebSalesOrderDetail" />
  <xs:complexType name="WebSalesOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Commission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceSubCustomer" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvoiceUnits" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductStockID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SODetailID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SalesOrderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SellingPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StatusID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ThirdPartyBarcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebSalesOrderDetail" nillable="true" type="tns:WebSalesOrderDetail" />
  <xs:complexType name="AddressDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AltNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDetail" nillable="true" type="tns:AddressDetail" />
</xs:schema>